html {
    /*background-color: #63787d;*/
    background: url(rose.jpg) no-repeat left center fixed;
    background-color: black;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
body.container {
    background-color: transparent;
    max-width: 95%;
}

#timder {
    padding-top: 10px;
    padding-bottom: 40px;
    color: white;
    margin-left: auto;
    width: 250px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: right;
    /*background:linear-gradient(to right, #42fc3f, #08eaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

}

.abstract {
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 119px;
}

