html {
    background-color: #63787d;
    /*background: url(rose.jpg) no-repeat center fixed;
    -webkit-background-size: contain;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

}
body.container {
    background-color: transparent;
    max-width: 95%;
}

#logo {
    margin: auto;
    width: 33%;
    padding-top: 20px;
    padding-left: 41px;
    padding-bottom: 30px;
}
p {
    font-size: 20px;
    color: #63787d;
}
.textBox {
    border-color: white;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    text-align: center;
    width: 40%;
    padding-top: 25px;
    padding-bottom: 25px;
}

